@model IEnumerable<ECommerce.MVC.Models.CategoryModels.CategoryModel>


        
        <div class="col-xl-6 col-lg-7">
            <nav class="header__menu">
                <ul>
            @foreach (var category in Model)
            {
                <li>
                    <a href="/shop/index?categoryId=@category.Id">@category.Name</a>
                </li>
            }
            <li>
                <a href="/contact">İletişim</a>
            </li>
           
                </ul>
            </nav>
        </div>

 
