<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ECommerce.MVC</title>

    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <!-- Title Meta -->
        <meta charset="utf-8" />
        <title>Sign In | ECommerceİlmek - Responsive Admin Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully responsive premium admin dashboard template" />
        <meta name="author" content="Techzaa" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="~/Admin/larkon/admin/assets/images/favicon.ico">

        <!-- Vendor css (Require in all Page) -->
        <link href="~/Admin/larkon/admin/assets/css/vendor.min.css" rel="stylesheet" type="text/css" />

        <!-- Icons css (Require in all Page) -->
        <link href="~/Admin/larkon/admin/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

        <!-- App css (Require in all Page) -->
        <link href="~/Admin/larkon/admin/assets/css/app.min.css" rel="stylesheet" type="text/css" />
        <!-- Toastr CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
        <!-- Theme Config js (Require in all Page) -->
        <script src="~/Admin/larkon/admin/assets/js/config.js"></script>
    </head>

</head>
<body>
 

    <main>
        @RenderBody()

    </main>


    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


 

    <!-- Bildirimler (NToastNotify) -->
    @await Component.InvokeAsync("NToastNotify")
    <!-- Vendor Javascript (Require in all Page) -->
    <script src="~/Admin/larkon/admin/assets/js/vendor.js"></script>

    <!-- App Javascript (Require in all Page) -->
    <script src="~/Admin/larkon/admin/assets/js/app.js"></script>

    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            var errorMessage = '@ViewBag.ErrorMessage';
            if (errorMessage) {
                toastr.error(errorMessage);
            }
        });
    </script>
</body>
</html>
