<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ECommerce.MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        @await Html.PartialAsync("_StylesPartial")


</head>

 <header class="header">
  

 </header>
<body>
 @RenderBody()
 <partial name="_FooterPartial" />
    
@await Html.PartialAsync("_ScriptsPartial")

    @await Component.InvokeAsync("NToastNotify")
</body>
</html>
