@model ECommerce.MVC.Models.AuthModels.ForgotPasswordModel;


@{
    Layout = "_AuthLayout";
}
<body class="h-100">
    <div class="d-flex flex-column h-100 p-3">
        <div class="d-flex flex-column flex-grow-1">
            <div class="row h-100">
                <div class="col-xxl-7">
                    <div class="row justify-content-center h-100">
                        <div class="col-lg-6 py-lg-5">
                            <div class="d-flex flex-column h-100 justify-content-center">
                             

                                <h2 class="fw-bold fs-24">Şifre Sıfırlama</h2>

                                <p class="text-muted mt-1 mb-4">E-posta adresinizi girin, size şifre sıfırlama talimatlarını içeren bir e-posta göndereceğiz.</p>

                                <div>
                                     <form asp-controller="Auth" asp-action="ForgotPassword" method="post" class="authentication-form">

                                        @Html.AntiForgeryToken()

                                  
                                        <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                                        <div class="mb-3">
                                            <label class="form-label" for="Email">E-posta</label>
                                            <input asp-for="Email" class="form-control" placeholder="E-posta adresinizi girin" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>

                                        <div class="mb-1 text-center d-grid">
                                            <button class="btn btn-primary" type="submit">Şifreyi Sıfırla</button>
                                        </div>
                                    </form>
                                </div>

                                <p class="mt-5 text-danger text-center">Geri dönmek için   <a href="/Auth/LoginUser" class="text-dark fw-bold ms-1">Giriş Yap</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-5 d-none d-xxl-flex">
                    <div class="card h-100 mb-0 overflow-hidden">
                        <div class="d-flex flex-column h-100">
                            <img src="~/Admin/larkon/admin/assets/images/small/img-10.jpg" alt="" class="w-100 h-100">
                        </div>
                    </div> <!-- end card -->
                </div>
            </div>
        </div>
    </div>
</body>