@model ECommerce.MVC.Models.HomeIndexModel;
   <!-- Categories Section Begin -->
@await Component.InvokeAsync("Category")



@await Component.InvokeAsync("LatestProducts", new { count = 8 })



<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Ücretsiz Kargo 🚚</h6>
                    <p>1000 TL ve üzeri alışverişlerde</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Para İade Garantisi 💸</h6>
                    <p>Ürünle ilgili bir sorun yaşarsanız</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>7/24 Online Destek 💬</h6>
                    <p>Size özel müşteri hizmetleri</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Güvenli Ödeme 🔒</h6>
                    <p>%100 güvenli ödeme altyapısı</p>
                </div>
            </div>
        </div>
    </div>
</section>
 