@using System.Security.Claims



<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-lg-2">
            <div class="header__logo">
                <a asp-controller="Home" asp-action="Index">
                    <img src="~/ui/img/logo.png" alt="Logo">
                </a>
            </div>
        </div>
        @await Component.InvokeAsync("CategoriesOnMenu")

                <div class="col-lg-3">
    <div class="header__right">
        <ul class="header__right__widget d-flex align-items-center gap-3">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <!-- Kullanıcı Girişi Yapıldıysa -->
                        <div class="dropdown">
                            <button class="site-btn btn-outline-secondary rounded-circle p-2" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false" aria-label="User Menu" title="Hesap">
                                <i class="fa fa-user"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" asp-controller="Account" asp-action="Profile"><i class="fa fa-user me-2"></i> Profile</a></li>
                                <li><a class="dropdown-item" asp-controller="Order" asp-action="Orders"><i class="fa fa-shopping-cart me-2"></i> Siparişlerim</a></li>

                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form asp-controller="Auth" asp-action="Logout" method="post" class="d-flex">
                                        <button type="submit" class="dropdown-item text-danger w-100"><i class="fa fa-sign-out-alt me-2"></i> Çıkış Yap</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <!-- Üye Girişi Butonu -->
                        <div class="dropdown">
                            <button class="site-btn btn-outline-secondary rounded-circle p-2" type="button" id="userLoginDropdown" data-bs-toggle="dropdown" aria-expanded="false" title="Üye Girişi">
                                <i class="fa fa-user"></i>
                                <span class="d-none">Üye Girişi</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userLoginDropdown">
                                <li><a class="dropdown-item" href="/Auth/LoginUser"><i class="fa fa-sign-in-alt me-2"></i> Giriş Yap</a></li>
                                <li><a class="dropdown-item" href="/Auth/RegisterUser"><i class="fa fa-user-plus me-2"></i> Kayıt Ol</a></li>
                            </ul>
                        </div>

                        <!-- Mağaza Girişi Butonu -->
                        <div class="dropdown">
                            <button class="site-btn btn-outline-secondary rounded-circle p-2" type="button" id="storeLoginDropdown" data-bs-toggle="dropdown" aria-expanded="false" title="Mağaza Girişi">
                                <i class="fa fa-home"></i>
                                <span class="d-none">Mağaza Girişi</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="storeLoginDropdown">
                                <li><a class="dropdown-item" href="/Auth/LoginSeller"><i class="fa fa-sign-in-alt me-2"></i> Mağaza Girişi</a></li>
                                <li><a class="dropdown-item" href="/Auth/RegisterSeller"><i class="fa fa-user-plus me-2"></i> Mağaza Kayıt Ol</a></li>
                            </ul>
                        </div>
                    }

            <!-- Favoriler -->
            <li>
                        <a href="@Url.Action("Index", "UserFav")">
                            <span class="icon_heart_alt" style="font-size: 1.45em; color: black;"></span>
                    
                </a>
            </li>

            <!-- Sepet -->
            <li>
                        <a href="@Url.Action("Index", "Basket")">
                            <span class="icon_bag_alt" style=" font-size: 1.45em; color: black;"></span>
                   
                </a>
            </li>
        </ul>
    </div>

</div>
